#DIV {
    padding: 20px;
    /* background-color: darkgray; */
    border-radius: 10px;
}

#information {
    padding: 5px;
    /* background-color: darkgray; */
    border-radius: 10px;
}

#main {}

#table {
    width: 70%;
    height: 70%;
}