* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.footer {
    background-color: #191919;
    padding: 70px 0 0;
}

.footer .box h3 {
    color: white;
    font-size: 50px;
    margin: 0 0 20px;
    text-align: center;
}

.footer .box a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.footer .box a:hover {
    color: #007bff;
}

.footer .box .text {
    line-height: 2;
    color: #007bff;
    font-size: 50px;
    text-align: center;
}

.footer .footer-copyright {
    padding: 25px 0;
    text-align: center;
    color: #6c757d;
    margin: 50px 0 0;
    border-top: 1px solid #444;
}

.thankyou {
    margin-top: 20%;
}

.thankyou h3 a {
    text-decoration: none;
    color: #343a40;
    transition: 0.3s;
}

.thankyou h3 a:hover {
    color: #007bff;
}